 *{ /* Selects all elements */
    box-sizing:border-box;
    padding: 0;
    margin: 0;
} 

body { /* Sets background color */
    background-color: #d9dcd6;
}

header { /* Fomats Header */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 { /* Formats header and h1 to be on the same line and have the same font size of 48px */
    display: inline-block;
    font-size: 48px;
}

header h1, .seo { /* Changes colour of the header, h1 and the 'seo' in Horieson  */
    color: #d9dcd6;
}

header row { /* Formats the header buttons over to the top right of the screen */ 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
} 

header row ul { /* Gets rid of the bullet points in the list element */
    list-style-type: none;
}

header row ul li { /* Aligns all of the header links onto one line */
    display: inline-block;
    margin-left: 25px;
}

a { /* Formatting text of header links */
    color: #ffffff;
    text-decoration: none;
}

.MainPicture { /* Formatting the Main picture on the webpage */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

p {/* Formatting any paragraphs tagged <p><p/> */
    font-size: 16px;
}
.float-left { /* Creating left float to position the contents and benfits elements */
    float: left;
    margin-right: 25px;
}

.float-right { /* Creating left float to position the contents and benfits elements */
    float: right;
    margin-left: 25px;
}

.content { /* Formatting element with a width of 75% */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization { /* Formats Search engine optimization element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img { /* Formats Search engine optimization img */
    max-height: 200px;
}

.search-engine-optimization h2 { /* Formats Search engine optimization header */
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management { /* Formats Online Reputation Management element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img { /* Formats Online Reputation Management img */
    max-height: 200px;
}

.online-reputation-management h2 { /* Formats Online Reputation Management header */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing { /* Formats Social Media Marketing element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img { /* Formats Social Media Marketing img */
    max-height: 200px;
}

.social-media-marketing h2 { /* Formats Social Media Marketing header */
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits { /* Formatting element with a width of 20% */
    margin-right: 20px;
    padding: 20px;
    clear: both; /* Clears any previous floats */
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead { /* Formats Lead Generation element */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 { /* Formats Lead Generation header */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img { /* Formats Lead Generation img */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand { /* Formats Brand Awareness element */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 { /* Formats Brand Awareness header */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img { /* Formats Brand Awareness img */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost {  /* Formats Cost Management element */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 { /* Formats Cost Management header */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img { /* Formats Cost Management img */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer { /* Formatting Footer to clear both floats and to be centered */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 { /* Formats footer header */
    font-size: 20px;
}
